* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gentium Book Plus", serif;
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Peddana", serif;
  font-family: "Roboto", sans-serif;
  font-family: "Work Sans", sans-serif;
}
/* Shared style */
.container {
  width: 75%;
  margin: 0 auto;
  padding: 10px;
}
/* display */
.grid {
  display: grid;
  gap: 25px;
}
.grid-col-2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid-col-4 {
  grid-template-columns: repeat(4, 1fr);
}
.flex {
  display: flex;
  gap: 10px;
}
.justify-center {
  justify-content: center;
}
.justify-start {
  justify-content: flex-start;
}
.justify-between {
  justify-content: space-between;
}
.text-center {
  text-align: center;
}
.items-center {
  align-items: center;
}

.mx-auto {
  margin: 0 auto;
}
a {
  text-decoration: none;
}
.paragraph {
  color: #727272;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 20px 0;
}
img {
  width: 100%;
  height: auto;
}
.btn-primary {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  padding: 20px 25px;
  border-radius: 8px;
  background: #ff900e;
  border: 0;
  cursor: pointer;
  margin: 15px auto;
}
/* navbar design */
.nav-bar {
  list-style: none;
}

.logo-title {
  color: #131313;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}
/* header */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 20px 0;
}
/* banner section design */
.banner-content {
  max-width: 860px;
  margin: 40px auto;
}

/* team section */
.team-part-main {
  gap: 40px;
}
.team-section {
  padding: 80px 0;
}
.quick-list {
  color: #727272;
  font-size: 2.5rem;
  font-weight: 500;
}
.of-our {
  color: #131313;
  font-size: 2.8rem;
  font-weight: 700;
}
.features {
  color: #ff900e;
  font-size: 2.5rem;
  font-weight: 700;
}
.team-content {
  max-width: 80%;
}
/* Features section */
.features-section {
  padding: 80px 0;
}
.features-title {
  padding: 0 30px;
  border-left: 5px solid #ff900e;
}
.features-main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 150px;
}

.features-title h1 {
  color: #131313;
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 10px;
}
.featured-img {
  position: relative;
}
.experience {
  padding: 45px;
  color: #fff;
  text-align: center;
  font-size: 65px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
  background-color: #ff900e;
  position: absolute;
  top: 84%;
  left: -20%;
}
.experience span {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 40px;
}

.card {
  padding: 30px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  margin: 20px 0;
}
.card p {
  margin: 0;
}
.fact-section {
  padding: 60px 0;
}
.some-facts,
.sponsor-top {
  max-width: 40%;
}
.some-facts .facts-title,
.sponsor-top .sponsor-title {
  color: #131313;
  font-size: 2.8rem;
  font-weight: 700;
}
.all-rewords img {
  width: 45px;
  margin-bottom: 10px;
}
.all-rewords .items {
  padding: 20px 30px;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #ff900e;
}
.all-rewords .items .number {
  color: #424242;
  font-size: 2.8rem;
  font-weight: 600;
}
.all-rewords .paragraph {
  color: #727272;
  font-size: 20px;
  font-weight: 600;
}
.sponspors-section {
  padding: 60px 0;
  text-align: center;
}
.sponsor-brands {
  margin: 50px 0;
  flex-wrap: wrap;
  gap: 30px;
}
footer {
  padding: 50px 0;
}
footer span {
  padding: 40px;
  text-align: center;
  display: block;
  color: #424242;
  font-size: 1.2rem;
  border-radius: 8px;
  background: #fff4e7;
  font-weight: 400;
}
/* responsive for 992px */
@media screen and (max-width: 1180px) {
  .features-main {
    grid-template-columns: auto;
  }
  .experience {
    position: static;
  }
  .some-facts,
  .sponsor-top {
    max-width: 100%;
  }
}
/* responsive for 768px */
@media screen and (max-width: 768px) {
  .nav-bar {
    flex-direction: column;
  }
  .container {
    width: 100%;
    margin: auto;
  }

  .grid-md-col-1 {
    grid-template-columns: auto;
  }
  .grid-col-4 {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* responsive for 576px */
@media screen and (max-width: 576px) {
  .grid-col-4 {
    grid-template-columns: auto;
  }
  .grid-col-2 {
    grid-template-columns: auto;
  }
}
