* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gentium Book Plus", serif;
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Peddana", serif;
  font-family: "Roboto", sans-serif;
  font-family: "Work Sans", sans-serif;
}
/* Shared style */
.container {
  width: 75%;
  margin: 0 auto;
  padding: 10px;
}
/* display */
.grid {
  display: grid;
  gap: 25px;
}
.grid-col-2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid-col-4 {
  grid-template-columns: repeat(4, 1fr);
}
.flex {
  display: flex;
  gap: 10px;
}
.justify-center {
  justify-content: center;
}
.justify-start {
  justify-content: flex-start;
}
.justify-between {
  justify-content: space-between;
}
.text-center {
  text-align: center;
}
.items-center {
  align-items: center;
}

.mx-auto {
  margin: 0 auto;
}
a {
  text-decoration: none;
}
.paragraph {
  color: #727272;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 20px 0;
}
img {
  width: 100%;
  height: auto;
}
.btn-primary {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  padding: 20px 25px;
  border-radius: 8px;
  background: #ff900e;
  border: 0;
  cursor: pointer;
  margin: 15px auto;
}
/* navbar design */
.nav-bar {
  list-style: none;
}

.logo-title {
  color: #131313;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}
/* header */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 20px 0;
}
/* banner section design */
.banner-content {
  max-width: 860px;
  margin: 40px auto;
}

/* team section */
.team-part-main {
  gap: 40px;
}
.team-section {
  padding: 80px 0;
}
.quick-list {
  color: #727272;
  font-size: 2.5rem;
  font-weight: 500;
}
.of-our {
  color: #131313;
  font-size: 2.8rem;
  font-weight: 700;
}
.features {
  color: #ff900e;
  font-size: 2.5rem;
  font-weight: 700;
}
.team-content {
  max-width: 80%;
}
/* Features section */
.features-section {
  padding: 80px 0;
}
.features-content {
  max-width: 90%;
}
.features-title {
  padding: 0 30px;
  border-left: 5px solid #ff900e;
}
.features-title h1 {
  color: #131313;
  font-size: 2.8rem;
  font-weight: 700;
}
/* responsive for 768px */
@media screen and (max-width: 768px) {
  .nav-bar {
    flex-direction: column;
  }
  .container {
    width: 100%;
  }

  .grid-md-col-1 {
    grid-template-columns: auto;
  }
  .grid-col-4 {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* responsive for 576px */
@media screen and (max-width: 576px) {
  .grid-col-4 {
    grid-template-columns: auto;
  }
  .grid-col-2 {
    grid-template-columns: auto;
  }
}
